<html>
<head>
    <title>IPFS Demo</title>
    <!-- Add any necessary CSS or external stylesheets here -->
</head>
<body>
    <h1>File Uploaded...</h1>
    <p>Name: <%= fileName %></p>
    <p>Link: <a href="https://ipfs.io/ipfs/<%= fileHash %>"><%= fileHash %></a></p>
    <p>Owner's Address: <%= ownerAddress %></p>
    <p>Contract Address: <%= contractAddress %></p>
    <p>Transaction Address: <%= transactionAddress %></p>
</body>
</html>
